<h3>{{header_factory}}</h3>

<div class="device">
        
     <a href="#/list"><p><i class="glyphicon glyphicon-eject"></i></p></a>


        <ul class="grey">
        	<p>Are you sure you want to this delete device {{devices[whichItem].name}}?</p>
        	<form novalidate class="form_edit_order">
			<button class="btn btn-danger" ng-click="deletedevice()">Yes, delete it</button>
			<a href="#/list"><button type="button" class="btn btn-warning">Go Back</button></a>
			</form>

          	
        </ul>



</div>
