 <h3>{{header_factory}}</h3>
 
 <a href="#/list"><p><i class="glyphicon glyphicon-eject"></i></p></a>

<form novalidate class="form_edit_order">
Name:<br>
<input class="form-control" type="text" ng-model="name" value="{{devices[whichItem].name}}"><br>
Username:<br>
<input class="form-control" type="text" ng-model="username" value="{{devices[whichItem].user_name}}" ><br>
Color:<br>
<input class="form-control color"  type="color" name="favcolor" ng-model="color" value="{{devices[whichItem].color}}"><br>
<br>
<button class="btn btn-primary viewitem" ng-click="savechanges()">Save Changes</button>
</form>

