<h3>{{header_factory}}</h3>

<a href="#/list"><p><i class="glyphicon glyphicon-eject"></i></p></a>


<form novalidate class="form_edit_order">
Name:<br>
<input class="form-control" type="text" ng-model="device" value=""><br>
Username:<br>
<input class="form-control" type="text" ng-model="username" value="" ><br>
Color:<br>
<input class="form-control color"  type="color" name="color" ng-model="color" value="">
<br>
<button class="btn btn-primary viewitem" ng-click="savenew()">Save Changes</button>
</form>


