<div class="device">
        <i class="glyphicon glyphicon-folder-open"></i>


          <a href="#/list"><p><i class="glyphicons glyphicons-eject"></i></p>Back</a><p>



                <ul>
                  <li>{{devices[whichItem].name}}</li>
                  <li>{{devices[whichItem].user_name}}</li>
                  <li>{{devices[whichItem].color}}</li>
                </ul>


        <div class="pagination">
          <a href="#/device/{{prevItem}}"><<</a>
          <a href="#/device/{{nextItem}}">>></a>
        </div>
</div>